<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Microposts</th>
    </tr>
  </thead>

  <tbody>
    <% @user.microposts.each do |micropost| %>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= micropost.content %></td>
		
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', users_path %>
